<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569085110352-fd2lj1moq702r32f1lk0mr15i9abu65q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569085110352-fd2lj1moq702r32f1lk0mr15i9abu65q</string>
	<key>API_KEY</key>
	<string>AIzaSyB07wos8tQIjXAQlqHnZhzyi6raoiFZNbI</string>
	<key>GCM_SENDER_ID</key>
	<string>569085110352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.example.westinghouse</string>
	<key>PROJECT_ID</key>
	<string>westinghouse-smart</string>
	<key>STORAGE_BUCKET</key>
	<string>westinghouse-smart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569085110352:ios:378acba136955fbf</string>
	<key>DATABASE_URL</key>
	<string>https://westinghouse-smart.firebaseio.com</string>
</dict>
</plist>